[submodule ".guix.emacs.d"]
	path = .guix.emacs.d
	url = https://github.com/linuxing3/guix-emacs-config
[submodule ".scratch.emacs.d"]
	path = .scratch.emacs.d 
	url = https://github.com/linuxing3/emacs-from-scratch
[submodule ".evil.emacs.d"]
	path = .evil.emacs.d
	url = https://github.com/linuxing3/evil-emacs-config
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2
[submodule ".ohmyzsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/oh-my-zsh
[submodule ".ohmybash"]
	path = .oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash
[submodule ".space-vim"]
	path = .space-vim
	url = https://github.com/liuchengxu/space-vim
