.DS_Store
.idea
*.log
tmp/
*.data
*.log
*.tmp
*.eld
*.cache


*.py[cod]
*.egg
build
htmlcov

flycheck_*.*
.env
.env.local


bookmarks
eww-bookmarks
*~
recentf
tramp

elpa/
auto-save-list/
local/
cache/
.cache/
.extension/
.server/
url
eshell

.local
